Main.container {
  margin: 5%;
  background: $color-grey;
  padding-bottom: 5%;
}

span.underline {
  position: relative;
  &::After {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: $color-purple;
  }
}

.form {
  .half-width, .full-width {
    display: inline-block;
    position:relative; 
    border-bottom:2px solid $color-purple;
    margin: 25px 50px;
    vertical-align: top;
  }
  .half-width {
    width: calc(50% - 100px)  
  }
  .full-width {
    width: calc(100% - 100px)  
  }
}
input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  background: transparent;
}

select {
  border:none;
  background: transparent;
  display: block;
  margin: 10px 10px 10px 5px;
  font-size:24px;
  color: $color-purple;
  width: 100%;
}
.computer select{
  width: 25%;
  float: right;
  margin: 8px 0px;
}

.apply-btn {
  width: 200px;
  margin: 0 auto;
  margin-top: 5 * $base-vertical-rithm;
}
.apply-btn input{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100%;
  background-color: $color-purple;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  position: relative;
  
}

input:focus 		{ outline:none; }

label {
  color: $color-purple;; 
  font-size:24px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  // -moz-transition:0.2s ease all;  //removed per Maartje's request
  // -webkit-transition:0.2s ease all;
}

.active label	{
  top:-20px;
  // font-size:14px; //removed so that this is back to "standard"
  color: $color-purple;
}
