Main.container {
  margin: 5%;
  background: $color-grey;
  padding-bottom: 5%;
}

span.underline {
  position: relative;
  &::After {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: $color-purple;
  }
}
